@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a,
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: Roboto;
  color: #4b4b4b;
  line-height: 1;
  background: #f5f5f5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.whoweare {
  padding: 0px 0px 150px 0px;
}
.whoweare__container {
  max-width: 1020px;
  margin: 0px auto;
  border: 1px solid transparent;
  padding: 100px 87px 0px 87px;
  background: #fff url(../img/bg.png) 100% 0 no-repeat;
}
.whoweare__content {
}
.whoweare__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
  background: url(../img/logo.png) 0 0 no-repeat;
  padding: 0px 0px 0px 30px;
}
.whoweare__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133c;
  margin: 0px 0px 36px 0px;
  max-width: 583px;
}
.whoweare__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0, 15px;
  margin: 0px 0px 52px 0px;
}
.whoweare__image {
  margin: 0px 0px -120px 0px;
}
.whoweare__image img {
  max-width: 100%;
}
